# AWS Configuration
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Domain Configuration
DOMAIN_NAME=
SES_SENDER_EMAIL=

# Email Forwarding
FORWARD_TO_EMAIL=

# Project Configuration
PROJECT_NAME=inboxray
ENVIRONMENT=dev